
@media (min-width: 279px) and (max-width: 319px){
    /* css start */
    .header .navbar .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        line-height: 1.7em;
        font-weight: 500;
        color: #000;
        text-transform: capitalize;
        margin: 0 0 0 0px;
        transition: 1s;
    }
    .header .nav-item .btn-success {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.7em;
        font-weight: 500;
        color: #fff;
        text-transform: capitalize;
        background: #21B573;
        border: 1px solid #21B573;
        padding: 8px 20px;
        border-radius: 25px;
        margin: 0 0 0 60px;
        transition: 1s;
        text-align: center;
    }
    .banner h1 {
        font-size: 50px;
        line-height: 1.2em;
        font-weight: 700;
        color: #000;
    }
    .footer p {
        font-size: 16px;
        line-height: 1.7em;
        font-weight: 400;
        color: #fff;
        margin: 0px;
        padding: 0px 0px 20px;
        text-align: center;
    }
    .footer ul li {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
    }


    /* css end */
}
@media (min-width: 320px) and (max-width: 480px){
    /* css start */
.header .navbar .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        line-height: 1.7em;
        font-weight: 500;
        color: #000;
        text-transform: capitalize;
        margin: 0px;
        transition: 1s;
    }
    .testimonial h1 {
        font-size: 45px;
        line-height: 1.2em;
        font-weight: 700;
        color: #000;
        text-align: center;
        margin: 0px 0px 80px;
    }
    .footer {
        width: 100%;
        padding: 80px 0px 30px;
        background: #282531;
        text-align: center;
    }
    .footer {
        width: 100%;
        padding: 80px 0px 30px;
        background: #282531;
        text-align: center;
    }

    /* css end */
}
@media (min-width: 480px) and (max-width: 768px){
    /* css start */
    .header .navbar .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        line-height: 1.7em;
        font-weight: 500;
        color: #000;
        text-transform: capitalize;
        margin: 0 0 0 0px;
        transition: 1s;
    }
    .header .nav-item .btn-success {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.7em;
        font-weight: 500;
        color: #fff;
        text-transform: capitalize;
        background: #21B573;
        border: 1px solid #21B573;
        padding: 8px 20px;
        border-radius: 25px;
        margin: 0 0 0 0px;
        transition: 1s;
    }
    .banner h4 {
        font-size: 25px;
        line-height: 1.2em;
        font-weight: 600;
        color: #FD511A;
        margin: 40px 0px 0px 0px;
    }
    .banner h1 {
        font-size: 54px;
        line-height: 1.2em;
        font-weight: 700;
        color: #000;
    }
    .footer {
        width: 100%;
        padding: 80px 0px 30px;
        background: #282531;
        text-align: center;
    }
    .footer p {
        font-size: 16px;
        line-height: 1.7em;
        font-weight: 400;
        color: #fff;
        margin: 0px;
        padding: 0px 0px 20px;
    }
    /* css end */
}
@media (min-width: 769px) and (max-width: 1024px){
    /* css start */
    .banner h1 {
        font-size: 56px;
        line-height: 1.2em;
        font-weight: 700;
        color: #000;
    }
    
    /* css end */
}